<div class="container">
  <h1> Thank you for participating in my Grocery Quiz </h1>
  <hr>
  <p> Please come back to check out my next program. Have a nice day!</p>
  <%= link_to 'Back', root_path, :class => "btn btn-primary" %>
</h1>