<div class="container"> 
  <h1>Test Results</h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th> Tests Taken </th>
      <th> Time Taken </th>
      <th> Questions Answered </th>
    </tr>
    <% @tests.each do |test| %>
      <tr>
        <td><%= link_to "Applicant ##{test.id}'s results", test_answers_path(test.id) %> </td>
        <td><%= test.time_taken %></td>
        <td><%= test.total_questions_answered %>
      </tr>
    <% end %>
  </table>
  <%= link_to "Back", root_path, :class => "btn btn-primary" %>
</div>