<html>
  <head>
    <script>
     
    </script>
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Grocery Quiz
        <small>Click Start to begin:</small></h1>
      </div>
  
      <%= form_for @test do |f| %>
        <%= f.submit 'Start', :class => "btn btn-primary" %>
        <%= link_to "Admin Login", tests_path, :class => "btn btn-warning" %>
      <% end %>
    </div>

  </body>
</html>