<div class="container">
  <h1>Grocery Quiz</h1>
  <p>You will have 2 minutes to finish as many questions as you can. When you are ready click the link below:</p>

  <%= form_for @test do |f| %>
    <%= f.submit 'Start', :class => "btn btn-primary" %>
    <% end %>
</div>