<div class="container">  
  <h1> Question #<%= @test.answers.count+1%></h1>
  <hr>  
  <% if flash[:notice] %>
    <div class='alert alert-danger'> 
      <%= flash[:notice] %>
    </div>
    <p></p>
  <% end %>
  Select the image that matches: <strong> <%= @questions.test_question%> </strong>
  <p>
  <%= render 'answers/form' %>

</div>

